:root {
    --base-font: 20px;
    --base-lh: calc(var(--base-font) * 1.6);
    --base-size: 1.7777778rem;
    --double-base-size: calc(var(--base-size) * 2);
}
html {
    font-size: var(--base-font);
    line-height: var(--base-lh);
}
body {
    font-family: serif;
    font-size: 1rem;
    line-height: var(--base-size);
}
h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}
h1 {
    font-size: 2.2777778rem;
    line-height: var(--double-base-size);
    margin: var(--base-size) 0;
}
h2 {
    font-size: 1.5rem;
    line-height: var(--double-base-size);
    margin-top: var(--base-size);
    margin-bottom: var(--base-size);
}
h3 {
    font-size: 1.3rem;
    line-height: var(--base-size);
    margin-top: var(--base-size);
    margin-bottom: 0;
}
h4 {
    font-size: 1rem;
    line-height: var(--base-size);
    margin-top: var(--base-size);
    margin-bottom: 0;
}
h5, h6 {
    font-size: 1rem;
    line-height: var(--base-size);
    margin-top: var(--base-size);
    margin-bottom: 0;
}
h6 {
    font-weight: normal;
}
p, ul, ol, pre, table, blockquote {
    margin-top: 0;
    margin-bottom: var(--base-size);
}
ul ul, ol ol, ul ol, ol ul {
    margin-top: 0;
    margin-bottom: 0;
}
hr {
    border: 1px solid;
    margin: -1px 0;
}
a, b, i, strong, em, small, code {
    line-height: 0;
}
sub, sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
/* FB2-specific styling */
p.p {
    text-indent: 2ch;
}
ul.section-toc {}
h5.subtitle {}
div.epigraph {
    margin-left: 30%;
    margin-bottom: var(--base-size);
}
div.epigraph p {
    margin-top: 0;
    margin-bottom: 0;
    text-indent: 0;
}
div.epigraph-author {
    font-style: italic;
}
div.cite {}
div.cite-author {
    font-style: italic;
}
div.fb-date {
    font-style: italic;
    font-weight: bold;
}
blockquote.poem {
    margin-left: 4ch;
    margin-right: 4ch;
}
div.stanza {
    margin: var(--base-size) 0;
}
div.stanza-v {}
div.image-block {
    text-align: center;
    break-inside: avoid-column;
    page-break-inside: avoid;
}
div.image-block img {
    object-fit: contain;
    width: 80%;
    max-height: 70vh;
}
p.sequence {}
div.annotation {}
div.toc {}
div.book-content {}
main.book-wrapper section,
main.book-wrapper p,
main.book-wrapper p {
    text-align: justify;
}

/* UI specific parts */
main.book-wrapper {
    columns: 2;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    column-gap: 40px;
}

:root, body.light {
    --body-background: beige;
    --body-color: #111;
    --link-color: #2470B3;
    --footer-darken: 0.1;
    --faded-img-opacity: 1;
}
body.dark {
    --body-background: #2b2b2b;
    --body-color: #a9b7c6;
    --link-color: #589DF6;
    --footer-darken: 0.2;
    --faded-img-opacity: 0.75
}
@media (prefers-color-scheme: dark) {
    :root, body.dark {
        --body-background: #2b2b2b;
        --body-color: #a9b7c6;
        --link-color: #589DF6;
        --footer-darken: 0.2;
        --faded-img-opacity: 0.75
    }
}
img {
    opacity: var(--faded-img-opacity, 1);
    transition: opacity .5s ease-in-out;
}
img:hover {
    opacity: 1;
}
body {
    margin: 0;
    background: var(--body-background, beige);
    color: var(--body-color, #111);
}
a {
    color: var(--link-color, #2470B3);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
input#f {
    z-index: 7;
    position: absolute;
    top: 0;
    left: 0;
}
.ui-btn, .ui-btn-big {
    width: 22px;
    height: 22px;
    text-align: center;
    padding: 0;
    line-height: 21px;
    border-radius: 50%;
}
.ui-btn-big {
    line-height: 18px;
    width: 30px;
    height: 30px;
}
#close-book, #back-link {
    position: absolute;
    top: 10px;
    right: 10px;
}
#back-link {
    top: 7px;
    right: 40px;
}
#top-book-info:empty + #close-book {
    display: none;
}
.book-info-trigger {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 15px;
    z-index: 5;
    display: none;
}
.book-info {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    height: auto;
    color: white;
}
.book-info-trigger:hover + .book-info, .book-info:hover {
    display: block;
}
footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px;
    --percent: 0%;
    background: linear-gradient(
            90deg,
            rgba(0,0,0,var(--footer-darken, 0.1)) 0%,
            rgba(0,0,0,var(--footer-darken, 0.1)) var(--percent),
            rgba(0,0,0,0.05) var(--percent),
            rgba(0,0,0,0.05) 100%
    );
    font-size: 14px;
    cursor: pointer;
    z-index: 3;
}
#book {
    padding: 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 20px;
}
.lower-info {
    position: absolute;
    right: 5px;
    top: 3px;
    pointer-events: none;
}
